<footer class="bd-footer py-4 py-md-5 mt-5 bg-body-tertiary">
  <div class="container py-4 py-md-5 px-4 px-md-3 text-body-secondary">
    <div class="row">
      <div class="col-lg-6">
        <a class="d-inline-flex align-items-center mb-2 text-body-emphasis text-decoration-none">
          <img src="/favicon.png" width="36" height="36">
          <span class="fs-5 ms-2">Bootstrap Table</span>
        </a>
        <ul class="list-unstyled small">
          <li class="mb-2">
            Bootstrap Table Website is a fork of <a href="http://getbootstrap.com/">Bootstrap</a>.
          </li>
          <li class="mb-2">
            This fork is developed and maintained by <a href="https://github.com/wenzhixin">@wenzhixin</a>.
          </li>
          <li class="mb-2">
            Currently v{{ site.current_version }}, Code licensed <a href="https://github.com/wenzhixin/bootstrap-table/blob/master/LICENSE" target="_blank">MIT</a>,
          docs <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <h3>Links</h3>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="{{ site.repo }}" target="_blank">GitHub</a></li>
          <li class="mb-2"><a href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
          <li class="mb-2"><a href="{{ site.website }}" target="_blank">My website</a></li>
          <li class="mb-2"><a href="{{ site.repos }}" target="_blank">My repos</a></li>
          <li class="mb-2"><a href="http://stackoverflow.com/questions/tagged/bootstrap-table" target="_blank">Questions / Helps</a></li>
          <li class="mb-2"><a href="mailto:{{ site.email }}">Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
