<div class="container border-bottom">

  <div class="pt-5 pb-5">
    <div>
      <h3>PayPal Sponsors</h3>
    </div>

    <div>
      <a href="https://edubirdie.com/write-my-essay" target="_blank">
        <img height="64" src="{{ site.baseurl }}/assets/images/edu-birdie.png" alt="Write my essay services from Edubirdie">
      </a>
    </div>
  </div>

  <div class="pt-5 pb-5">
    <div>
      <h3>OpenCollective Sponsors</h3>
    </div>

    <div>
      Support this project by becoming a sponsor.
      Your logo will show up here with a link to your website.
      [<a href="https://opencollective.com/bootstrap-table#sponsor" target="_blank">
        Become a sponsor
      </a>]
    </div>

    <div>
      <a href="https://opencollective.com/bootstrap-table/sponsor/0/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/0/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/1/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/1/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/2/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/2/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/3/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/3/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/4/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/4/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/5/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/5/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/6/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/6/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/7/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/7/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/8/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/8/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/9/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/9/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/10/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/10/avatar.svg"></a>
    </div>
  </div>

  <div class="pt-5 pb-5">
    <div>
      <h3>OpenCollective Backers</h3>
    </div>

    <div>
      Thank you to all our backers!
      🙏 [<a href="https://opencollective.com/bootstrap-table#backer" target="_blank">
        Become a backer
      </a>]
      <a href="https://opencollective.com/bootstrap-table#backers" target="_blank">
        <img src="https://opencollective.com/bootstrap-table/backers.svg?width=890">
      </a>
    </div>
  </div>
</div>
