<div class="container">
  <div class="pt-md-5">
    <div>
      <h3>Backers</h3>
    </div>

    <div>
      Thank you to all our backers!
      🙏 [<a href="https://opencollective.com/bootstrap-table#backer" target="_blank">
        Become a backer
      </a>]
    </div>

    <div>
      <a href="https://opencollective.com/bootstrap-table#backers" target="_blank">
        <img src="https://opencollective.com/bootstrap-table/backers.svg?width=890">
      </a>
    </div>
  </div>

  <div class="pt-md-5 pb-md-5">
    <div>
      <h3>Sponsors</h3>
    </div>

    <div>
      Support this project by becoming a sponsor.
      Your logo will show up here with a link to your website.
      [<a href="https://opencollective.com/bootstrap-table#sponsor" target="_blank">
        Become a sponsor
      </a>]
    </div>

    <div>
      <a href="https://opencollective.com/bootstrap-table/sponsor/0/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/0/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/1/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/1/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/2/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/2/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/3/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/3/avatar.svg"></a>
      <a href="https://opencollective.com/bootstrap-table/sponsor/4/website" target="_blank"><img src="https://opencollective.com/bootstrap-table/sponsor/4/avatar.svg"></a>
    </div>
  </div>
</div>
