<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

{%- if page.layout == "docs" or page.layout != "examples" -%}
<!-- Documentation extras -->
{% if page.layout == "docs" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
{% endif %}
{% if page.layout != "examples" %}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/docs.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css?m=9">
{% endif %}
{%- endif -%}
