<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style>
#mc_embed_signup {
  margin: 0 auto;
  text-align: center;
  max-width: 550px;
  width: 100%;
}
#mc-embedded-subscribe {
  margin: 0;
}
</style>

<hr>
<div id="mc_embed_signup" class="pt-5 pb-5">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=f30f83799e58c38ca308f6b73&amp;id=4256ed0bdc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <h3 for="mce-EMAIL">Subscribe our News</h3>
  <div class="input-group">
    <input type="email" value="" name="EMAIL" class="form-control form-control-lg email" id="mce-EMAIL" placeholder="email address" required>
    <div class="input-group-append">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline-secondary">
    </div>
  </div>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <div style="position: absolute; left: -5000px;" aria-hidden="true">
    <input type="text" name="b_f30f83799e58c38ca308f6b73_4256ed0bdc" tabindex="-1" value="">
  </div>

  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>
</form>
</div>

<script async src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
