{
  "presets": [
    ["env", {
      "modules": "umd",
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }],
    "stage-0",
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  }
}
