_gh_pages
.github
.sass-cache
cypress
site
tools
tests
_config.yml
.browserslistrc
.cspell-words.txt
.cspell.json
.editorconfig
CONTRIBUTING.md
cypress.config.js
DONATORS.md
Gemfile
Gemfile.lock
release.*
