_gh_pages
.claude
.github
.playwright-mcp
.sass-cache
cypress
site
tools
tests
.browserslistrc
.cspell-words.txt
.cspell.json
.editorconfig
CONTRIBUTING.md
DONATORS.md
*.sh
*.config.js
release.*
src/.babelrc
