.bd-navbar .dropdown-menu .active .bi {
  display: inline-block !important;
}

.container-fluid {
  position: absolute;
  top: 80px;
  bottom: 0;
}

.api h2 {
  margin-top: 4rem !important;
  margin-bottom: 2rem;
}

.extensions h3 {
  margin-bottom: 2rem;
}

.donate img {
  max-height: 200px;
}

.donate th,
.donate td {
  text-align: center;
  vertical-align: middle !important;
}

.donate svg.navbar-nav-svg {
  width: 96px;
}

.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #767676;
}

header.themes .bd-lead {
  max-width: 100%;
}

.supports-container {
  text-align: center;
}

.supports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 .5em 1em;
}

.support-description {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 1em;
}

.support-item {
  position: relative;
  display: inline-block;
  margin: 3px;
  padding: .25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
}

.support-item:hover {
  background-color: rgba(108,117,125,.25098);
}

.support-avatar.Gold {
  max-height: 96px;
  max-width: 288px;
}

.support-avatar.Bronze {
  max-height: 64px;
  max-width: 192px;
}

.support-avatar {
  max-height: 48px;
  max-width: 144px;
  min-height: 48px;
  min-width: 48px;
  vertical-align: middle;
}

.online-editor img {
  max-width: 100%;
}
