.bs-docs-featurette .row {
    text-align: left;
}
.bs-docs-nav + p {
    margin-bottom: 0;
}
.edit-page-link {
    float: right;
    font-size: 16px;
    font-weight: normal;
    line-height: 39px;
}