<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include skippy.html %}

    {% include docs-navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          {% include docs-sidebar.html %}
        </div>

        {% if page.toc %}
          <div class="d-none d-xl-block col-xl-2 bd-toc">
            {{ content | toc_only }}
          </div>
        {% endif %}

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content {{ page.group }}" role="main">
          <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <a class="btn btn-sm btn-bd-light mb-2 mb-md-0"
              {% if page.group == 'faq' or page.group == 'online-editor' %}
              href="{{ site.repo }}/blob/develop/site/docs/{{ page.name }}"
              {% else %}
              href="{{ site.repo }}/blob/develop/site/docs/{{ page.group }}/{{ page.name }}"
              {% endif %}
              title="View and edit this file on GitHub" target="_blank" rel="noopener">
              View on GitHub
            </a>
            <h1 class="bd-title" id="content">
              {{ page.title | smartify }}
            </h1>
          </div>
          <p class="bd-lead">{{ page.description | smartify }}</p>
          {% include ads.html %}
          {{ content }}
        </main>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
