<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include docs-navbar.html %}

    <div class="container-fluid">
      <div class="row flex-xl-nowrap h-100">
        <div class="col-12 col-md-3 col-xl-2 ps-3 pt-4 d-flex flex-column">
          {% include docs-sidebar.html %}
        </div>

        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content overflow-y-auto {{ page.group }}" role="main">
          <div class="d-md-flex flex-md-row-reverse align-items-center justify-content-between">
            <a class="btn btn-sm btn-bd-light mb-2 mb-md-0"
              {% if page.group == 'faq' or page.group == 'online-editor' %}
              href="{{ site.repo }}/blob/develop/site/docs/{{ page.name }}"
              {% else %}
              href="{{ site.repo }}/blob/develop/site/docs/{{ page.group }}/{{ page.name }}"
              {% endif %}
              title="View and edit this file on GitHub" target="_blank" rel="noopener">
              View on GitHub
            </a>
            <h1 class="bd-title" id="content">
              {{ page.title | smartify }}
            </h1>
          </div>
          <p class="bd-lead">{{ page.description | smartify }}</p>
          {% include ads.html %}
          {{ content }}
        </main>

        {% if page.toc %}
          <div class="bd-toc d-none d-xl-block col-xl-2 mt-3 mb-5 my-lg-0 mb-lg-5 px-sm-1 text-body-secondary">
            <strong class="d-none d-md-block h6 my-2 ms-3" id="docs-tocs">On this page</strong>
            <hr class="d-none d-md-block my-2 ms-3">

            <div class="collapse bd-toc-collapse" id="tocContents">
              <nav id="TableOfContents" aria-labelledby="docs-tocs">
                {{ content | toc_only }}
              </nav>
            </div>
          </div>
        {% endif %}
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
