---
import Header from '@/components/Header.astro'
import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'
import Scripts from '@/components/Scripts.astro'
import { getLangFromUrl } from '@/i18n/utils'

const layout = 'home'
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
  <Header frontmatter={{}} />
  <body>
    <Navbar layout={layout} />
    <slot />
    <Footer />
    <Scripts layout={layout} />
  </body>
</html>
