---
import Header from '@/components/Header.astro'
import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'
import Scripts from '@/components/Scripts.astro'

const layout = 'home'
---

<!doctype html>
<html lang="en">
  <Header frontmatter={{}} />
  <body>
    <Navbar layout={layout} />
    <slot />
    <Footer />
    <Scripts layout={layout} />
  </body>
</html>
